@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Welcome to admin panel</h1>
    <a class="btn btn-primary" asp-action="AllUsers" asp-controller="Admin"> To see allUsers</a>.
</div>
